.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: orangered;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: orangered;
}