.Product-DetailCard{
    background-color: rgb(56, 53, 53);
    border-radius: 7% ;
    width: 300px;
    height: 450px;
    margin:10px;
    text-align: center;
    padding: 2px;
}

.Product-DetailCard img{
    border-radius: 10px;
    height: 250px;
    width: 250px;
    object-fit:cover;
    image-rendering: auto;
}